known_hosts
.DS_Store
*.bk
ssh/*
_config/
!_config/fcitx/
_config/fcitx/clipboard/
_config/fcitx/clipboard/history.dat
_config/fcitx/rime/luna_pinyin.userdb.old/
_config/fcitx/rime/user.yaml
_config/fcitx/conf/fcitx-classic-ui.config
!_config/karabiner/karabiner.json
!_config/texstudio/macro/
!_config/texstudio/texstudio.ini
!_config/templates
