known_hosts
.DS_Store
*.bk
_config/htop
_config/JetBrains
_config/gedit
ssh/*
_config/fish
_config/coc/
_config/SweetScape/
_config/configstore/
_config/dconf/
_config/fcitx/clipboard/
_config/fcitx/clipboard/history.dat
_config/fcitx/rime/luna_pinyin.userdb.old/
_config/karabiner/automatic_backups
_config/karabiner/assets
_config/fcitx/rime/user.yaml
_config/fcitx/conf/fcitx-classic-ui.config
_config/jgit/
_config/texstudio
_config/grammarly-languageserver/
_config/iterm2
_config/op/
_config/wireshark
